<ion-header>
  <ion-toolbar >
    <ion-title>Adcionar Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-content>
    <form #meuSonho='ngForm'>
      <ion-item>
        <ion-label position="floating">Nome*:</ion-label>
        <ion-input #nome='ngModel' name="nome" [(ngModel)]="aluno.nome" requiered></ion-input>
      </ion-item>
          </form>
    <ion-item>
      <ion-label position="floating">Turma*:</ion-label>
      <ion-select [(ngModel)]="aluno.turma">
        <ion-select-option *ngFor='let turma of listaTurma | async' [value]="turma">{{turma.ano}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
  <ion-card>
    <span style='color:red' *ngIf="nome.errors && nome.touched">
      <ion-label>O nome é obrigatório! </ion-label>
    </span>
  </ion-card>

  <ion-tabs color="dark">
    <ion-tab-bar slot="bottom" color="dark">
      <ion-button expand="full" color="dark" href="home">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>deslogar</ion-label>
      </ion-button>
      <ion-button expand="full" color="dark" tab="speakers" href="listar-aluno">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Alunos</ion-label>
      </ion-button>
    </ion-tab-bar>
</ion-tabs>

  <ion-button [disabled]='!meuSonho.form.valid' shape = "round" expand = "full" color="success" (click)="salvar()"> adcionar </ion-button>
</ion-content>
