<ion-header>
  <ion-toolbar color = "success">
    <ion-title>
      Lista de Alunos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let aluno of listaFiltro">
      <ion-label><br><b>Aluno:</b><br>{{ aluno.nome }}<br><br>
        <b>Turma:</b> <br>{{ turma.ano }}<br><br></ion-label>
      <ion-button color="danger" (click)="excluir(aluno.key)">
        <ion-icon name="trash"></ion-icon>
      </ion-button><br><br>
      <ion-button color="success" (click)="alterar(aluno)">
        <ion-icon name="create"></ion-icon>
      </ion-button><br><br>
      <ion-button color="secondary" href="salvar-mensagem">
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-tabs color="dark">
    <ion-tab-bar slot="bottom" color="dark">
      <ion-button expand="full" color="dark" href="home">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>deslogar</ion-label>
      </ion-button>
      <ion-button expand="full" color="dark" tab="speakers" href="listar-aluno">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Alunos</ion-label>
      </ion-button>
    </ion-tab-bar>
</ion-tabs>
</ion-content>
<ion-footer>
</ion-footer>
