<ion-header>
  <ion-toolbar  color = "success">
    <ion-title>
      Documento de Autorização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content >
      <form #meuSonho='ngForm'>
      <ion-item>
        <ion-label position = "floating">Nome do Responsável:</ion-label>
        <ion-input #campo1 = "ngModel" [(ngModel)]="mensagem.campo1" name="campo1" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">RG ou CPF do responsável:</ion-label>
        <ion-input #campo2 = "ngModel" [(ngModel)]="mensagem.campo2" name="campo2" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">Nome do aluno(a):</ion-label>
        <ion-input  #campo3 = "ngModel" [(ngModel)]="mensagem.campo3" name="campo3" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">Ano e curso do aluno:</ion-label>
        <ion-input #campo4 = "ngModel" [(ngModel)]="mensagem.campo4" name="campo4" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">Motivo:</ion-label>
        <ion-input #campo5 = "ngModel" [(ngModel)]="mensagem.campo5" name="campo5" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Data*:</ion-label>
        <ion-datetime  #data = "ngModel" displayFormat="DD MM YY" placeholder="Selecione a data" [(ngModel)]="mensagem.data" name="data" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Horário*:</ion-label>
        <ion-datetime #horario="ngModel" displayFormat="HH:mms" placeholder="Selecione o horário" [(ngModel)]="mensagem.horario" name="horario" required></ion-datetime>
      </ion-item>
    <ion-item>
      <ion-label position="flolting">Grau de parentesco*:</ion-label>
      <ion-select #parentesco = "ngModel" [(ngModel)]="mensagem.parentesco" placeholder="Selecione o grau" name = "parentesco" required>
        <ion-select-option value="tio">tio(a)</ion-select-option>
        <ion-select-option value="pai">pai ou mãe</ion-select-option>
        <ion-select-option value="avo">avô ou avó</ion-select-option>
        <ion-select-option value="irmao">irmã ou irmão</ion-select-option>
        <ion-select-option value="outro">outro</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
    <ion-item>
      <ion-label position="flolting">Caso tenha escolhido "outro" especifique:</ion-label>
      <ion-input [(ngModel)]= "mensagem.campo6" name="campo6"></ion-input>
    </ion-item>
  </ion-card-content >
<ion-card>
  <span style='color:red' *ngIf="campo1.errors && campo1.touched">
    <ion-label>O responsável é obrigatório! </ion-label>
  </span>
  <span style='color:blue' *ngIf="campo2.errors && campo2.touched">
    <ion-label> O RG ou CPF é obrigatório!</ion-label>
  </span>
  <span style='color:red' *ngIf="campo3.errors && campo3.touched">
    <ion-label>O aluno é obrigatório! </ion-label>
  </span>
  <span style='color:blue' *ngIf="campo4.errors && campo4.touched">
    <ion-label> O ano e curso é obrigatório!</ion-label>
  </span>
  <span style='color:red' *ngIf="campo5.errors && campo5.touched">
    <ion-label>O motivo é obrigatório! </ion-label>
  </span>
  <span style='color:blue' *ngIf="data.errors && data.touched">
    <ion-label> A data é obrigatória!</ion-label>
  </span>
  <span style='color:red' *ngIf="horario.errors && horario.touched">
    <ion-label>O horário é obrigatório! </ion-label>
  </span>
  <span style='color:blue' *ngIf="parentesco.errors && parentesco.touched">
    <ion-label> O parentesco é obrigatório!</ion-label>
  </span>
</ion-card>
<ion-tabs color="dark">
  <ion-tab-bar slot="bottom" color="dark">
    <ion-button expand="full" color="dark" href="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>deslogar</ion-label>
    </ion-button>
    <ion-button expand="full" color="dark" tab="speakers" href="listar-aluno">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Alunos</ion-label>
    </ion-button>
  </ion-tab-bar>
</ion-tabs>
  <ion-button [disabled] = '!meuSonho.form.valid' shape = "round" expand = "full" color="success" (click)="enviar()">
    <ion-icon name="paper-plane"></ion-icon>Enviar
  </ion-button>
</ion-content>
