<ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="success" shape="round" href="listar-mensagem">Autorizações</ion-button>
  <ion-button expand="full" color="success" shape="round" href="chat">Chat</ion-button>
  <ion-button expand="full" color="success" shape="round" href="salvar-aluno"><ion-icon name="add-circle"></ion-icon>Aluno</ion-button>
  <ion-button expand="full" color="success" shape="round" href="salvar-funcionario"><ion-icon name="add-circle"></ion-icon> Funcionario</ion-button>






</ion-content>
