<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      CHAT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs color="dark">
    <ion-tab-bar slot="bottom" color="dark">
      <ion-button expand="full" color="dark" href="home">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>deslogar</ion-label>
      </ion-button>
      <ion-button expand="full" color="dark" href="listar-mensagem">
        <ion-icon name="list-box"></ion-icon></ion-button>
      <ion-button expand="full" color="dark" tab="speakers" href="listar-aluno">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Alunos</ion-label>
      </ion-button>
    </ion-tab-bar>
  </ion-tabs>
  <div class = "chat" *ngFor= "let chat of chatRef | async" >
    <div class = "me" *ngIf = "uid == chat.UserID">
      {{chat.message}}
    </div>
    <div class = "you" *ngIf = "uid != chat.UserID">
      <span class = "name">
        {{chat.Name}}
      </span><br>
      {{chat.message}}
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-item>
    <ion-input placeholder = "Type..." [(ngModel)] = "text"></ion-input>
    <ion-button (click) = "send()" fill = "clear" ion-only slot= "end"><ion-icon name = "send"></ion-icon></ion-button>
    </ion-item>
</ion-footer>
