<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Opções
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-button href = "salvar-aluno" shape = "round" expand = "full" color = "tertiary"><ion-icon name = "add"></ion-icon>aluno</ion-button>
  <br><br>
  <ion-button color = "tertiary" shape = "round" href = "salvar-funcionario" expand = "full"><ion-icon name = "add"></ion-icon>servidor</ion-button>
  <br><br>
  <ion-button color = "tertiary" shape = "round" href = "salvar-turma" expand = "full"><ion-icon name = "add"></ion-icon>turma</ion-button>
  <br><br>
</ion-content>
